@charset "utf-8";

* {
	margin : 0;
	padding : 0 ; 
	font-size : 100% ;
}

body {
	text-align : left ;
	margin : 0px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
	color : #3F3F3F;
	line-height : 1.4 ;
	background-color : #AAAAAA;
}
embed[src*="nicovideo.jp"]{
width: 500px;
height: 325px;
}
.page-content > * {
	margin-top: 20px;
}
.page-content > h2 {
	margin: 64px auto 24px;
    padding: 32px;
    font-size: 24px;
    background-color: #d7dce2;
}
.quote {
	background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 15px auto;
    padding: 0.5em 25px;
}
blockquote {
	position: relative;
    padding-left: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #79849a;
}
blockquote::before {
	content: "";
    position: absolute;
    top: 0.75em;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 32px;
    height: 1px;
    background-color: #79849a;
}
iframe, .video-cover, ul {
	padding-left : 3%;
	padding-right : 3%;
}
#text-field {
	padding: 2% 5%;
}
#header {
	font-size : 300%;
	margin-bottom : 1%
}
#page-header {
	font-size: 200%;
	margin-bottom: 1%;
}
div.category_title {
	font-size : 250%;
	border-bottom: 5px solid #94BEDF;
	padding-top : 8%;
	margin-bottom : 3%;
}
div.category_caption {
	font-size : 100%;
}
div.item_title {
	font-size : 170%;
	border-bottom: 2px solid #94BEDF;
	margin-top : 7%;
	margin-left : 3%;
	margin-right : 3%;
	margin-bottom : 1%;
}
div.sentence {
	font-size : 100%;
	padding-left : 3%;
	padding-right : 3%;
}
div.detail {
	font-size : 50%;
	padding-left : 3%;
	padding-right : 3%;
}
div#copyright {
	padding-top : 10%;
	font-size : 60%;
}

@media all and (min-width: 769px){
	#site-box { 
		width : 750px ;
		background-color : #F3F3F3;
        margin: 0 auto;
	}
	#header_img {
		width : 750px;
	}
	.video-cover img {
		width: 560px;
	}
}

@media all and (min-width:481px) and (max-width: 768px) {
	#site-box { 
		background-color : #F3F3F3;
	}
}

@media all and (max-width: 480px) {
	#site-box { 
		background-color : #F3F3F3;
	}
	#header_img {
		width : 100%;
	}
	.video-cover img {
		width: 90%;
	}
	#header {
		font-size : 150%;
	}
	div.category_title {
		font-size : 140%;
	}
	div.item_title {
		font-size : 130%;
		padding-top : 10%;
		padding-left : 3%;
		padding-right : 3%;
		padding-bottom : 1%;
	}
	div.sentence {
		font-size : 80%;
		padding-left : 3%;
		padding-right : 3%;
		padding-bottom : 1%;
	}
}

